.header {
  background-color: var(--color-elements);
  box-shadow: 0 0.2rem 0.5rem var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
  width: 100%;
}

.main {
  width: 90%;
  position: relative;
}

.nav {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;

  @include respond(tablet) {
    height: 5rem;
  }

  @include respond(tablet-small) {
    margin-top: 3rem;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond(tablet-small) {
    margin-top: 10rem;
  }

  @include respond(phone-small) {
    justify-content: center;
  }
}

.info {
  width: 100%;
  padding: 0 5%;
  padding-top: 7rem;
  height: calc(100vh - 88px);
  //display: none;
}
