@mixin card-radius {
  border-radius: 5px;
}

@mixin card-shadow {
  box-shadow: 0rem 0rem 0.9rem var(--shadow);
}

@mixin card-shadow-sharp {
  box-shadow: 0 0rem 0.7rem var(--shadow-sharp);
}

@mixin btn-base {
  background-color: var(--color-elements);
  font-weight: 600;
  font-family: inherit;
  border: none;
  outline: none;
  color: currentColor;
}

@mixin dropdown-active {
  transform: scale(1.1) translate(0.8rem, -0.08rem);
  font-weight: 800;
  color: var(--color-active);
}

.hidden {
  display: none;
}

@mixin btn-active {
  background-color: var(--color-active);
  color: var(--color-active-text);
}

///////////////////////////
// RESPONSIVE MIXINS

@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media (max-width: 78.875em) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media (max-width: 60.5em) {
      @content;
    }
  }

  @if $breakpoint == tablet-small {
    @media (max-width: 47.38em) {
      @content;
    }
  }

  @if $breakpoint == tablet-smallest {
    @media (max-width: 39em) {
      @content;
    }
  }

  @if $breakpoint == phone-large {
    @media (max-width: 33.44em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 26.56em) {
      @content;
    }
  }

  @if $breakpoint == phone-small {
    @media (max-width: 24.56em) {
      @content;
    }
  }

  @if $breakpoint == phone-smallest {
    @media (max-width: 21.56em) {
      @content;
    }
  }

  @if $breakpoint == phone-tiny {
    @media (max-width: 20em) {
      @content;
    }
  }
}
