@mixin card-radius {
  border-radius: 5px;
}

@mixin card-shadow {
  box-shadow: 0rem 0rem 0.9rem var(--shadow);
}

@mixin card-shadow-sharp {
  box-shadow: 0 0rem 0.7rem var(--shadow-sharp);
}

@mixin btn-base {
  background-color: var(--color-elements);
  font-weight: 600;
  font-family: inherit;
  border: none;
  outline: none;
  color: currentColor;
}

@mixin dropdown-active {
  transform: scale(1.1) translate(0.8rem, -0.08rem);
  font-weight: 800;
  color: var(--color-active);
}

.hidden {
  display: none;
}

@mixin btn-active {
  background-color: var(--color-active);
  color: var(--color-active-text);
}
